#aboutUs {
  background: #f8f9fa;
  padding-bottom: 50px;
  padding-top: 50px;
  color: black;
}

.aboutUsTitle {
  margin: 10px 0;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
}

#aboutUs ul li {
  margin: 5 px;
}

.socialMediaIcons img {
  width: 60px;
  transition: 0.5s;
}

.socialMediaIcons a:hover img {
  transform: translateY(-10px);
}

section {
  color: black;
  border: 100px;
}
.leftName {
  display: inline-flex !important;
  position: absolute;
  left: 0%;
  margin-left: 30px;
}
.centerName {
  display: inline-flex !important;
}
.rightName {
  position: absolute;
  display: inline-flex !important;
  right: 0%;
  margin-right: 30px;
}

.leftMedia {
  display: inline-flex !important;
  position: absolute;
  left: 0%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.centerMedia {
  display: inline-flex !important;
  position: absolute;
  margin-top: 1%;
  margin-bottom: 1%;
}

.rightMedia {
  display: inline-flex !important;
  position: absolute;
  right: 0%;
}
