#aboutUs {
  padding-bottom: 50px;
  padding-top: 50px;
  color: black;
  background-color: #b8b8b8;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
  border-radius: 5% !important;
}
#aboutUs header img {
  border-radius: 50%;
}
.aboutUsTitle {
  margin: 10px 0;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
}

.socialMediaIcons img {
  padding-top: 3%;
  width: 60px;
  transition: 0.5s;
  padding-bottom: 15px;
}

.socialMediaIcons a:hover img {
  transform: translateY(-10px);
}
.threecats img {
  max-width: 100%;
  height: auto;
  width: auto; /* ie8 */
}
section {
  color: black;
  border: 100px;
}

.pfp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.aboutUsTitle img {
  filter: invert(100%);
}
