.modal-content {
  -webkit-border-radius: 5% !important;
  -moz-border-radius: 5% !important;
  border-radius: 5% !important;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  background: whitesmoke;
}

.modal-footer {
  margin-right: 1em;
}

.login-title span {
  font-weight: 500;
  margin-left: 5%;
}

.modal-body {
  background: linear-gradient(to right, #b8b8b8, #333333);
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");

  margin: 1em;
  -webkit-border-radius: 5% !important;
  -moz-border-radius: 5% !important;
  border-radius: 5% !important;
}

.modal-header {
  background-color: #17a2b8;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
  margin: -0.15%;
}
