.center-nav {
  margin: 0.5em;
  width: 75px;
}

.catimg {
  position: relative;
  height: 75px;
  width: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
  left: 0;
}

.nav-menu {
  background-color: white !important;
}

.nav-bar {
  background-color: linear-gradient(to right, #111111, #999999);
  background-color: #3f51b5;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
}

.nav-links {
  color: white !important;
  font: bold;
  margin-right: 10px;
}
