.Register {
  margin: auto;
  padding: 1em;
  background-image: url("https://www.transparenttextures.com/patterns/crossword.png");
}

.Register div {
  margin-top: 2%;
  margin-bottom: 2%;
}

.Register div label {
  margin-right: auto;
}
